{% extends 'layouts/base.html' %}

{% load static %}

{% block title %}Blog | Acme{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/styles.css' %}">
{% endblock %}


{% block content %}
<h1>Mon Blog ({{ posts|length }} posts)</h1>

	{% for post in posts %}
	     <article>
	     	<h2 class="title"><a href="{% url 'blog:show' id=post.id %}">#{{ post.id }}-{{ post.title|upper }}</a></h2>
	     	<p class="time"><time datetime="{{ post.created_at|date:'Y-m-d' }}">Posted {{ post.created_at|timesince }} ago</time></p>
	     	<p class="body">{{ post.body|truncatewords:3 }}</p>

	     	<p><a href="{% url 'blog:show' id=post.id %}">Lire la suite</a></p>
	     </article>
         
         {% if not forloop.last %}
	     <hr>
	     {% endif %}
	{% empty %} 
	    <p>Sorry, No posts available.</p>    
	{% endfor %}
	
{% endblock %}